# If your device has an nvidia gpu, uncomment the following line:
# --index-url https://download.pytorch.org/whl/cu130

pydantic==2.12.5
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
optuna==4.8.0
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
pytest==9.0.2
wandb==0.25.1